/Vuzee.Flyway/drivers/
/Vuzee.Flyway/jars/
/Vuzee.Flyway/jre/
/Vuzee.Flyway/lib/
/VuzeeWeb/src/main/webapp/resources/*
!/VuzeeWeb/src/main/webapp/resources/css
/VuzeeWeb/src/main/webapp/node_modules/
