<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorator="layout/main">
<head>
<title>Home</title>
</head>
<body>
	<div layout:fragment="content">

		<h1>Bienvenido</h1>
		<div sec:authorize="isAuthenticated()">
			| Logged user: <span sec:authentication="name"></span> | Roles: <span
				sec:authentication="principal.authorities"></span>

			<form class="form-inline" th:action="@{/logout}" method="post">
				<input type="submit" value="Log out" />
			</form>
		</div>
	</div>
</body>
</html>